@use '../utils/variables';
@use '../utils/mixins';

.sign-in-button,
.edit-button,
.transaction-button {
    display: block;
    width: 100%;
    padding: 8px;
    font-size: 1.1rem;
    font-weight: bold;
    margin-top: 1rem;
    border-color: variables.$color-primary;
    background-color: variables.$color-primary;
    color: variables.$color-off-white;
}

.transaction-button {
    width: 100%;
}

.button-wrapper-edit {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-top: 10px;
    padding-bottom: 21px;
}

.save-button,
.cancel-button {
    border: none;
    background-color: variables.$color-primary;
    color: white;
    width: 140px;
    padding: 15px;
}

@include mixins.min720 {
    .transaction-button {
        width: 200px;
    }
}